@inherits LayoutComponentBase

<div class="sidebar">
    <CascadingValue Value="this">
        <NavMenu />
    </CascadingValue>
</div>

<!-- Add adjustment class to prevent TopAppBar from hiding some of this content -->
<div class="main @TopAppBar.AdjustmentMarkerClass @TopAppBar.MainContentMarker">
    <div class="content px-4">
        <CascadingValue Value="this">
            @Body
        </CascadingValue>
    </div>
</div>

@code {
    private TopAppBar.Variants variant = TopAppBar.Variants.Standard;
    public TopAppBar.Variants Variant
    {
        get => variant; 
        set
        {
            variant = value;
            StateHasChanged();
        }
    }

    private string brandTitle = "Demo";
    public string BrandTitle
    {
        get => brandTitle; 
        set
        {
            brandTitle = value;
            StateHasChanged();
        }
    }

    private bool hideBrandTitle;
    public bool HideBrandTitle
    {
        get => hideBrandTitle;  
        set
        {
            hideBrandTitle = value;
            StateHasChanged();
        }
    }

    private bool useBrandImage = true;
    public bool UseBrandImage
    {
        get => useBrandImage; 
        set
        {
            useBrandImage = value;
            StateHasChanged();
        }
    }

    private bool hideBrandImage;
    public bool HideBrandImage
    {
        get => hideBrandImage; 
        set
        {
            hideBrandImage = value;
            StateHasChanged();
        }
    }

    private bool scrollToTop = true;
    public bool ScrollToTop
    {
        get => scrollToTop; 
        set
        {
            scrollToTop = value;
            StateHasChanged();
        }
    }

    private bool showActionsAlways;
    public bool ShowActionsAlways
    {
        get => showActionsAlways; 
        set
        {
            showActionsAlways = value;
            StateHasChanged();
        }
    }

    private bool useDarkMode;
    public bool UseDarkMode
    {
        get => useDarkMode; 
        set
        {
            useDarkMode = value;
            StateHasChanged();
        }
    }

    private bool useLightMode;
    public bool UseLightMode
    {
        get => useLightMode; 
        set
        {
            useLightMode = value;
            StateHasChanged();
        }
    }

    private bool useBackgroundImage;
    public bool UseBackgroundImage
    {
        get => useBackgroundImage; 
        set
        {
            useBackgroundImage = value;
            StateHasChanged();
        }
    }

    private BackgroundColorDirections backgroundColorDirection = BackgroundColorDirections.LeftToRight;
    public BackgroundColorDirections BackgroundColorDirection
    {
        get => backgroundColorDirection;
        set 
        {
            backgroundColorDirection = value;
            StateHasChanged();
        }
    }

    private string backgroundColorStart = "rgb(5, 39, 103)";
    public string BackgroundColorStart
    {
        get => backgroundColorStart;
        set 
        {
            backgroundColorStart = value;
            StateHasChanged();
        }
    }

    private string backgroundColorEnd = "#3a0647";
    public string BackgroundColorEnd
    {
        get => backgroundColorEnd;
        set 
        {
            backgroundColorEnd = value;
            StateHasChanged();
        }
    }

    private string color = "white";
    public string Color
    {
        get => color;
        set 
        {
            color = value;
            StateHasChanged();
        }
    }
}