@inherits Subcomponent<TopAppBar>

<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end @Class" style="@Style" @attributes="@ExtraAttributes" role="toolbar">
    <CascadingValue Value="this">
      @ChildContent
    </CascadingValue>
</section>