@inherits Subcomponent<TopAppBar>

<section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start @Class" style="@Style" @attributes="@ExtraAttributes">
    <CascadingValue Value="this">
      @ChildContent
    </CascadingValue>
</section>